/* gallery.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #011a1f;
}

header {
    background-color: #050606;
    color: wheat;
    padding: 20px 0;
    text-align: end;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: wheat;
}

.gallery-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: wheat;
}

.gallery-item {
    margin-bottom: 40px;
    text-align: center;
}

.gallery-item h4 {
    margin-top: 0;
    font-size: 20px;
    color: wheat;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}
p {
    color: wheat;
}

span{
    color: aqua;
}
.animate-scroll {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate-scroll.animated {
    opacity: 1;
}

/* CSS untuk dropdown */
#language-select {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #011a1f;
    color: wheat;
    border: none;
    font-size: 16px;
    float: right;
    margin-right: 10px;
}
#toggle-button {
    display: inline-block;
    margin-left: 20px; /* Atur jarak antara tombol toggle dengan elemen lain di navbar */
    cursor: pointer;
}

#toggle-button img {
    width: 30px; /* Atur lebar gambar sesuai kebutuhan */
    height: auto; /* Biarkan tinggi gambar disesuaikan dengan lebar */
}

#toggle-button:hover img {
    opacity: 0.8; /* Kurangi opacity ketika tombol dihover */
}
/* Tambahkan style untuk mode terang */
.light-mode  {
    background-color: #ffffff;
    color: #000000;
}

.light-mode header {
    background-color: antiquewhite;
}

.light-mode nav ul li a {
    color: #000000;
}
.light-mode span {
    color: #000000; /* Warna span */
}
/* Efek hover untuk navbar pada mode terang */
.light-mode header nav ul li a:hover {
    color: #ffd700; /* Ubah warna pada hover */
}

/* Efek hover untuk tombol toggle pada mode terang */
.light-mode #toggle-button:hover img {
    opacity: 0.8; /* Kurangi opacity ketika tombol dihover */
}
