body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #011a1f;
}

header {
    background-color: #050606;
    color: #f2eded;
    padding: 20px 0px; /* Padding diubah dari 20px 0 menjadi 20px 10px */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: wheat;
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

div {
    margin-top: 20px;
    text-align: center;
}

img {
    border-radius: 50%;
    border: 2px solid #333;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 5px auto; /* Center the h1 */
    color: wheat;
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
    color: wheat;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: wheat;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    color: wheat;
}

span {
    color: aqua;
}

.animate-scroll {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate-scroll.animated {
    opacity: 1;
}

/* CSS untuk dropdown */
#language-select {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #011a1f;
    color: wheat;
    border: none;
    font-size: 16px;
    float: right;
    margin-right: 0; /* Margin-right diubah menjadi 0 */
    margin-top: 10px;
}
#toggle-button {
    display: inline-block;
    margin-left: 20px; /* Atur jarak antara tombol toggle dengan elemen lain di navbar */
    cursor: pointer;
}

#toggle-button img {
    width: 30px;
    height: auto;
}

#toggle-button:hover img {
    opacity: 0.8;
}
.light-mode #toggle-button img {
    filter: invert(100%);
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.light-mode header {
    background-color: antiquewhite;
}

.light-mode nav ul li a {
    color: #000000; /* Warna hiperlink */
}
.light-mode span {
    color: #000000; /* Warna span */
}
/* Efek hover untuk navbar pada mode terang */
.light-mode header nav ul li a:hover {
    color: #ffd700; /* Ubah warna pada hover */
}

/* Efek hover untuk tombol toggle pada mode terang */
.light-mode #toggle-button:hover img {
    opacity: 0.8; /* Kurangi opacity ketika tombol dihover */
}
.light-mode #toggle-button img {
    filter: invert(0%); /* Membalik warna tombol toggle saat mode terang */
}