/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #011a1f;
}

header {
    background-color: #050606;
    color: #f2eded;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: wheat;
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

h2 {
    color: wheat;
}

p {
    color: wheat;
    line-height: 1.6;
}

.contact-box {
    background-color: rgb(9, 82, 80);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    text-align: left;
}

.icon {
    vertical-align: middle;
    color: wheat;
}

.text {
    display: inline-block;
    margin-left: 20px;
}

.text h3 {
    color: aquamarine;
    margin-top: 0;
}

.text h4 {
    color: aliceblue;
    margin-top: 5px;
}

.text p {
    margin: 5px 0 0;
    color: whitesmoke;
}

a{
    color: whitesmoke;
}


span{
    color: aqua;
}
.animate-scroll {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate-scroll.animated {
    opacity: 1;
}
/* CSS untuk dropdown */
#language-select {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #011a1f;
    color: wheat;
    border: none;
    font-size: 16px;
    float: right;
    margin-right: 10px;
}
/* CSS */
#toggle-button {
    display: inline-block;
    margin-left: 20px; /* Atur jarak antara tombol toggle dengan elemen lain di navbar */
    cursor: pointer;
}

#toggle-button img {
    width: 30px; /* Atur lebar gambar sesuai kebutuhan */
    height: auto; /* Biarkan tinggi gambar disesuaikan dengan lebar */
}

#toggle-button:hover img {
    opacity: 0.8; /* Kurangi opacity ketika tombol dihover */
}

/* Tambahkan style untuk mode terang */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode nav ul li a {
    color: #000000;
}
.light-mode header {
     background-color: antiquewhite;
}

.light-mode .contact-box {
    background-color: #f0f0f0;
}

.light-mode .icon {
    color: #000000;
}

.light-mode .text h2{
    color :#000000
}
.light-mode .text h3 {
    color: #009688;
}

.light-mode .text h4 {
    color: #009688;
}

.light-mode .text p {
    color: #000000;
}

.light-mode a{
    color: #000000;
}

.light-mode span{
    color: #000000;
}
/* style.css */

/* Efek hover untuk navbar pada mode terang */
.light-mode header nav ul li a:hover {
    color: #ffd700; /* Ubah warna pada hover */
}

/* Efek hover untuk tombol toggle pada mode terang */
.light-mode #toggle-button:hover img {
    opacity: 0.8; /* Kurangi opacity ketika tombol dihover */
}

